table {
    border-collapse: collapse;
}
table td, table th {
    border: 2px solid black;
}

/* table tbody tr:nth-child(2n+1) td:nth-child(1),
table tbody tr:nth-child(2n+2) td:nth-child(2) {
    background-color: lightcoral;
} */

table tbody tr:nth-child(odd) td:nth-child(odd),
table tbody tr:nth-child(even) td:nth-child(even) {
    background-color: lightcoral;
}
